<%= render 'form' %>

<% @comments.each do |comment| %>
		<div class="comment-div">
			<strong>
				<%= current_user.fname + " " + current_user.lname %>
			</strong>&nbsp;&nbsp;

			<%= comment.body %>

			<div class="pull-right">
				|&nbsp;&nbsp;
				<%= link_to edit_tweet_comment_path(comment) do %> 
					<span class="glyphicon glyphicon-edit" aria-hidden="true" title="Edit"></span>
				<% end %>&nbsp;&nbsp;|&nbsp;&nbsp;

				<%= link_to tweet_comment_path(comment), method: :delete, data: { confirm: 'Are You Sure?'} do %>
					<span class="glyphicon glyphicon-remove" aria-hidden="true" title="Delete"></span>
				<% end %>
			</div>
		</div>

<% end %>