<div class="row">
	<div class="col-md-2">
		<%= image_tag(@user.avatar.url, width: 120, height: 150, class: 'img-thumbnail')%>
		<br/>
		
		<br/>
		<div>
			<p class='following' >
			Followers
			<strong>
				<%= @user.followers.count %>
			</strong>
		</p>
		<p class='follower' >
			Following
			<strong>
				<%= @user.following.count %>
			</strong>
		</p>
		</div>

		<p class='title' >
			<strong>Name: </strong>
			<%= @user.fname + " " + @user.lname %>
		</p>

		<p class='content' >
			<strong>DOB: </strong>
			<%= @user.dob %>
		</p>

		<p class='content' >
			<strong>Gender: </strong>
			<%= @user.gender %>
		</p>
	</div>

	<div class="col-md-7">
		<% @user.tweets.each do |tweet| %>
			<div id="tweet-id">
				<strong>
					<%= link_to image_tag(tweet.user.avatar.url, width: 20, height: 20, class: 'img-circle'), user_path(tweet.user.id) %>
					<%= link_to tweet.user.fname + " " + tweet.user.lname, user_path(tweet.user.id) %>
				</strong>
				<%= tweet.body %>

				<% if tweet.user.id == current_user.id %>
					<div class="pull-right">
						<%= link_to edit_tweet_path(tweet.id) do %> 
							<span class="glyphicon glyphicon-edit" aria-hidden="true" title="Edit"></span>
						<% end %>&nbsp;&nbsp;|&nbsp;&nbsp;

						<%= link_to tweet_path(tweet), method: :delete, data: { confirm: 'Are You Sure?'} do %>
							<span class="glyphicon glyphicon-remove" aria-hidden="true" title="Delete"></span>
						<% end %>
					</div>
				<% end %>

				<div id="comment-container">
					<% tweet.comments.each do |comment| %>
						<div id="comment-id">
							<strong>
								<%= link_to image_tag(comment.user.avatar.url, width: 20, height: 20, class: 'img-circle'), user_path(comment.user.id) %>
								<%= link_to comment.user.fname + " " + comment.user.lname, user_path(comment.user.id)  %>
							</strong>
							<%= comment.body %>
							<% if comment.user.id == current_user.id %>
								<div class="pull-right">
									<%= link_to edit_tweet_comment_path(tweet, comment) do %> 
										<span class="glyphicon glyphicon-edit" aria-hidden="true" title="Edit"></span>
									<% end %>&nbsp;|&nbsp;

									<%= link_to tweet_comment_path(tweet, comment), method: :delete, data: { confirm: 'Are You Sure?'} do %>
										<span class="glyphicon glyphicon-remove" aria-hidden="true" title="Delete"></span>
									<% end %>
								</div>
							<% end %>
						</div>
					<% end %>
					<div id="comment-form">
						<%= form_for([tweet, tweet.comments.build]) do |f| %>
							<div class="form-group">
								<%= f.text_area :body %>
								<%= f.submit :submit%>
							</div>
						<% end %>
					</div>
				</div>	
			</div>
			<hr>
		<% end %>		
	</div>

	<div class="col-md-3">
		<% if @user.id == current_user.id %>
			<%= link_to 'Edit', edit_user_path(current_user.id), type: 'button', class: 'btn btn-primary' %>
		<% end %>

		<% if current_user.active_relationships.find_by(followed_id: @user.id) %>
			
				<%= link_to 'Unfollow', unfollow_user_path(@user.id), method: :delete, type: 'button', class: 'btn btn-primary' %>
		<% else %>
			<%= link_to 'Follow', follow_user_path(@user.id), method: :post, type: 'button', class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>