<!DOCTYPE html>
<html>
	<head>
	  <title>Twitter</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
	<div class="col-md-12 bg-primary">
		<div class="pull-left">
			<%= link_to 'Home', tweets_path, class: 'btn btn-primary' %>
		</div>

		<% if user_signed_in? %>
			<div class="pull-right">
				<%= link_to image_tag(current_user.avatar.url, width: 25, height: 25, class: 'img-circle'), user_path(current_user.id) %>
				<strong><%= current_user.fname %>&nbsp;<%= current_user.lname %></strong>
				<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'pull-right btn btn-primary' %>
			</div>	
		<% end %>	
	</div>
	
	<div style="clear:both;">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
	</div>

	<div class="col-sm-offset-1 col-sm-10">
		<%= yield %>
	</div>

	</body>
</html>
